*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-bg-color: #DAA520;

}

.debug{
    border: 2px dashed black;
}

header{
    min-height: 70px;
    background-color: #ADD8E6;
    padding-top: 15px;
}

.general-cnt{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.linkbar-cnt{
    width: 100%;
    margin: 0 auto;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    width: 20%;
}

nav{
    width: 60%;
    text-align: center;
}

.login-btn{
    width: 20%;
    text-align: right;
}