*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/
:root{
    --header-bg-color: #DAA520;
    --main-bg-blue: #00008B;
    --main-bg-grey: #D3D3D3;
    --main-bg-pink: #EE82EE;
    --main-bg-azul: #1E90FF;
    --main-bg-green: green;
    --footer-bg-black: black;
}

.debug{
    border: 2px dashed black;
}
.general-cnt{
    width: 70%;
    margin: 0 auto;
}

.bg-blue{
    background-color: var(--main-bg-blue);
}

.bg-grey{
    background-color: var(--main-bg-grey);
}

.bg-pink{
    background-color: var(--main-bg-pink) ;
}

.bg-azul{
    background-color: var(--main-bg-azul);
}

.container{
    height: 400px;
    padding: 30px;
}

    

/*Header section*/
header{
    height: 70px;
    background-color: #ADD8E6;
}

#linkbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.linkbar-cnt{
    width: 100%;
    margin: 0 auto;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
  
}

.logo{
    width: 20%;
}

nav{
    width: 60%;
    text-align: center;
}

.login-btn{
    width: 20%;
    text-align: right;
}

/*Main section*/

#jumbotron{
    margin: 0 auto;
    height: 100%;
    width: 50%;
}

.main-cnt{
    height: 100%;
    display: flex;
}

.column-left{
    width: 70%;
    background-color: var(--main-bg-pink);
}

.column-right{
    width: 30%;
    background-color: var(--main-bg-azul);
}

.big-cnt{
    height: 600px;
    background-color: var(--main-bg-grey);
    padding: 30px;
}

.tec-cnt{
    height: 100%;
    background-color: var(--main-bg-green);
}

/*footer section*/


